
@import url('../../.cache/wal/colors-waybar.css');


* {
    font-family:SpaceMono Nerd Font, feather;
    font-size: 12px;
    padding: 0;
    margin: 2px;
    font-weight: bolder;
    min-height: 0px;

    color: @color0;
}
#waybar{
    background-color: alpha(@background, 0.8);
    padding-top:2px
    

}
.modules-left {
  margin-left:25px;
    background-color: @color1;
    color: @foreground;
    border-radius: 15px;
    padding-left:10px;
    padding-right:10px;
}

.modules-center {
background-color: @color1;
    padding-left:10px;
    padding-right:10px;
    border-radius: 15px;
}
.modules-right {
background-color: @color1;
  margin-right: 25px;
    border-radius: 15px;
    padding-left:10px;
    padding-right:10px;
}
#workspaces button {
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}
#workspaces button.empty {
  opacity: 0.5;
}
#cpu,
#battery,
#pulseaudio,
#clock,
#memory,
#network,
#bluetooth, 
#custom-wlogout,
#language,
#custom-wlogout {
  min-width: 35px;
}


tooltip {
  padding: 2px;
    color: @color0;
    background-color: @color1;
}



.hidden {
  opacity: 0;
}

