
@import url('../../.cache/wal/colors-waybar.css');


* {
    font-family:SpaceMono Nerd Font, feather;
    font-size: 12px;
    padding: 0;
    border: none;
    margin: 0;
    font-weight: bolder;
    min-height: 0px;

    background-color: @color2;
    color: @background;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}
#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}
#workspaces button.empty {
  opacity: 0.5;
}
#cpu,
#battery,
#pulseaudio,
#language {
  min-width: 12px;
  margin: 0 7.5px;
}
#custom-wlogout {
  margin-right: 13px;
}

#bluetooth {
  margin-right: 13px;
}

#network {
  margin-right: 13px;
}


tooltip {
  padding: 2px;
}


#clock {
  margin-left: 8.75px;
}
#taskbar {
  margin-left: 13px;
}

.hidden {
  opacity: 0;
}

