
@import url('../../.cache/wal/colors-waybar.css');


* {
    font-family:SpaceMono Nerd Font, feather;
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-weight: bolder;
    min-height: 10px;
}

window#waybar{
    background: rgba(26, 27, 38, 0);
    color: @color2;
    padding: 0px;
    margin: 0px;
}



#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#bluetooth,
#custom-arch,
#custom-wlogout,
#custom-clip,
#taskbar button,
#mpd {
    padding:0px 7px;
    border-radius: 5px;
    border: @color2 solid 0px;
    background: @color2;
    color: @background;
    margin: 5px 2px;
    font-weight: bold;
    min-width: 15px; 
}


#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#bluetooth:hover,
#custom-arch:hover,
#custom-wlogout:hover,
#custom-clip:hover,
#taskbar button,
#mpd:hover {
     color: @color2;
    background:@background;
}

#workspaces{
background: rgba(0, 0, 8, .7);
  font-weight: 900;
  margin: 5px 2px;
  padding: 0px 7px;
  font-size: 16px;
  color: #c0caf5;
  border:none;
  border-radius: 5px;
  border: @color2 solid 0px;
}

#workspaces button{
    padding:  0px 5px;
    border-radius: 5px;
}

#workspaces button.active {
    background: @color2;
    color: @background;
    border-radius: 5px;
    border-radius: 5px;
    transition: all 0.4s ease-out 0.4s;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  box-shadow: none;
}
#taskbar{
background: rgba(0, 0, 8, .7);
  font-weight: 900;
  margin: 5px 2px;
  padding: 0px 0px;
  font-size: 11px;
  color: #c0caf5;
  border:none;
  border-radius: 5px;
  border: @color2 solid 0px;
}

#taskbar button{
background: rgba(0, 0, 8, 0);
  font-weight: 900;
  padding: 0px 3px;
  font-size: 14px;
  color: #c0caf5;
  border:none;
}

#bluetooth{
    font-size: 20px;
    padding: 2px 0px;
}
#language{
    font-weight: 900;
    font-size: 15px;
    padding: 0 5px; 
    min-width: 20px;
    border-radius: 5px;
}

#custom-wlogout {
    font-size: 15px;
    padding: 0px 10px;
}
#network{
    color: @color2;
    background: @background;
    border-radius: 5px;
    border: @color2 solid 0px;
    font-size: 25px;
    padding:0px 7px;

}
#tray{
    color: @color2;
    background: @background;
}
