
@import url('../../.cache/wal/colors-waybar.css');


* {
    font-family:SpaceMono Nerd Font, feather;
    font-size: 12px;
    padding: 0;
    margin: 2px;
    font-weight: bolder;
    min-height: 0px;

    color: @color0;
}
#waybar{
    background-color: @background;
    padding-top:2px

}
.modules-left {
  margin-left: 8px;
    background-color: @color1;
    color: @foreground;
    border-radius: 15px;
    padding-left:10px;
    padding-right:10px;
}

.modules-center {
background-color: @color1;
  margin-right: 8px;
    padding-left:10px;
    padding-right:10px;
    border-radius: 15px;
}
.modules-right {
background-color: @color1;
  margin-right: 8px;
    border-radius: 15px;
    padding-left:10px;
    padding-right:10px;
}
#workspaces button {
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}
#workspaces button.empty {
  opacity: 0.5;
}
#cpu,
#battery,
#pulseaudio
 {
  min-width: 12px;
  margin: 0 7.5px;
}
#language {
  margin-right: 18px;
  min-width: 12px;
}
#custom-wlogout {
  margin-right: 13px;
}

#bluetooth {
  margin-right: 13px;
}

#network {
  margin-right: 13px;
}


tooltip {
  padding: 2px;
    color: @color0;
    background-color: @color1;
}


#clock {
  margin-left: 8.75px;
}
#taskbar {
  margin-left: 13px;
}

.hidden {
  opacity: 0;
}

